@tailwind base;
@tailwind utilities;
@tailwind components;


*{
    outline: none;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-zoom: none;
}




@layer base{
    body{
        @apply  tracking-widest 
    }

    h1, h2, h3, h4, h5, h6{
        @apply font-bold 
    }

    h1{
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2{
        @apply text-3xl sm:text-4xl
    }

    /* nav{
        @apply z-[500]
    } */

    li{
        @apply cursor-pointer
    }

    /* button{
        @apply rounded-xl uppercase bg-gradient-to-r from-[#05afaf] to-[#1684df] text-white 
    } */

    p, span, div{
        @apply tracking-tighter
    }
}


body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* transition: all 20s ease-in-out; */
    /* background-image: url(projects/banner-12.jpg); */
    /* animation: imageAnimate 2s alternate-reverse ease-in-out ; */
}
